<a href="https://colab.research.google.com/github/JudahMwatee/Data-Analyst-Portfolio/blob/main/creating_DB_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#create a database INSTRUCTOR.db with a table INSTRUCTOR
#The following fields ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2)
#add the values (1, 'Harun', 'Kadenge', 'ARUSHA', 'TZ'), (2, 'Moses', 'Moten', 'KAMPALA', 'UG'), (3, 'Mwaniki', 'Antony', 'WATAMU', 'KE'), (4, 'Paul', 'Kagame', 'KIGALI', 'RW')

import sqlite3

conn = sqlite3.connect('INSTRUCTOR.db')
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS INSTRUCTOR")
cursor.execute("CREATE TABLE INSTRUCTOR (ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2));")
cursor.execute("INSERT INTO INSTRUCTOR (ID, FNAME, LNAME, CITY, CCODE) VALUES (1, 'Harun', 'Kadenge', 'ARUSHA', 'TZ'), (2, 'Moses', 'Moten', 'KAMPALA', 'UG'), (3, 'Mwaniki', 'Antony', 'WATAMU', 'KE'), (4, 'Paul', 'Kagame', 'KIGALI', 'RW');")
conn.commit()

In [10]:
statement = 'SELECT * FROM INSTRUCTOR'
cursor.execute(statement)
print("All the data")
output_all = cursor.fetchall()
for row_all in output_all:
  print(row_all)

All the data
(1, 'Harun', 'Kadenge', 'ARUSHA', 'TZ')
(2, 'Moses', 'Moten', 'KAMPALA', 'UG')
(3, 'Mwaniki', 'Antony', 'WATAMU', 'KE')
(4, 'Paul', 'Kagame', 'KIGALI', 'RW')

In [13]:
## Fetch few rows from the table
statement = 'SELECT * FROM INSTRUCTOR'
cursor.execute(statement)
output_many = cursor.fetchmany(2)
for row_many in output_many:
  print(row_many)

(1, 'Harun', 'Kadenge', 'ARUSHA', 'TZ')
(2, 'Moses', 'Moten', 'KAMPALA', 'UG')

In [16]:
# Fetch only FNAME from the table
statement = 'SELECT FNAME FROM INSTRUCTOR'
cursor.execute(statement)

print("All the data")
output_column = cursor.fetchall()
for fetch in output_column:
  print(fetch)

All the data
('Harun',)
('Moses',)
('Mwaniki',)
('Paul',)

In [23]:
##Edit cell data in a table
query_update ='update INSTRUCTOR set CITY = "DODOMA" where FNAME="Harun"'
cursor.execute(query_update)

statement = 'SELECT * FROM INSTRUCTOR'
cursor.execute(statement)

output1 = cursor.fetchmany(2)
for row in output1:
  print(row)

(1, 'Harun', 'Kadenge', 'DODOMA', 'TZ')
(2, 'Moses', 'Moten', 'KAMPALA', 'UG')

In [24]:
!pip install pandas
import pandas as pd
#retrieve the query results into a pandas dataframe
df = pd.read_sql_query("select * from instructor;", conn)

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [25]:
#print the dataframe
df

   ID    FNAME    LNAME     CITY CCODE
0   1    Harun  Kadenge   DODOMA    TZ
1   2    Moses    Moten  KAMPALA    UG
2   3  Mwaniki   Antony   WATAMU    KE
3   4     Paul   Kagame   KIGALI    RW